/* || STYLES */

body {
  text-align: center;
}

@media (min-width: 56rem) {
  body {
    text-align: start;
  }
}

/* CTA */

.cta-section {
  margin-top: clamp(2.63rem, calc(-1.72rem + 18.52vw), 11.25rem);
  padding-block: 4.5rem 4rem;
  background-color: var(--clr-accent-400);
  /* box-shadow: 0 0 0 100vw var(--clr-accent-400); */
  background-image: url(../images/bg-simplify-section-mobile.svg);
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.cta-section-container {
  gap: 1.625rem;
}

.cta__heading {
  color: var(--clr-neutral-100);
}

.cta__cta {
}

@media (min-width: 56rem) {
  .cta-section {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  .cta-section-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .cta__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
