/* || STYLES */

body {
  text-align: center;
}

@media (min-width: 56rem) {
  body {
    text-align: start;
  }
}

/* CTA */

.cta-section {
  margin-top: clamp(2.63rem, calc(-1.72rem + 18.52vw), 11.25rem);
  padding-block: 4.5rem 4rem;
  background-color: var(--clr-accent-400);
  /* box-shadow: 0 0 0 100vw var(--clr-accent-400); */
  background-image: url(../images/bg-simplify-section-mobile.svg);
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.cta-section-container {
  gap: 1.625rem;
}

.cta__heading {
  color: var(--clr-neutral-100);
}

.cta__cta {
}

@media (min-width: 56rem) {
  .cta-section {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  .cta-section-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .cta__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* FOOTER */

footer {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  position: relative;
}
.footer {
  padding-top: clamp(3.13rem, calc(2.75rem + 1.61vw), 3.88rem);
  padding-bottom: clamp(3.75rem, calc(7.51rem + -5.37vw), 6.25rem);
}
/* .footer__form {} */
.footer__form form {
  display: flex;
  gap: 0.5rem;
}
.footer__form form input[type="email"] {
  /* height: 2.75rem; */
  padding-inline: 1.25rem;
  font-size: 14px;
  border: none;
  border-radius: 999px;
}
.footer__form form input[type="button"] {
  --box-shadow: var(--clr-neutral-900);
}
.footer__copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  bottom: 30px;
  color: var(--clr-neutral-400);
}
.footer__link-container {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 80%;
  padding-block: 3.75rem;
}
.footer__link-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.footer__social-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.footer__social-icon-container {
  display: flex;
  gap: 1.25rem;
}
.footer__social-icon {
}
.footer__social-icon img {
  width: clamp(1.25rem, calc(2.38rem + -1.61vw), 2rem);
}
.footer__logo {
}
.footer__logo img {
  margin: 0 auto;
}
@media (min-width: 56rem) {
  /* footer {} */
  .footer {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .footer > * {
    height: 8.5rem;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  /* .footer__form form {} */
  /* .footer__form form input[type="email"] {} */
  /* .footer__form form input[type="button"] {} */
  .footer__copy {
    position: static;
    transform: translateX(0);
  }
  .footer__link-container {
    padding: 0;
  }
  /* .footer__link-menu {} */
  .footer__social-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0.75;
  }
  /* .footer__social-icon-container {} */
  /* .footer__social-icon {} */
  /* .footer__social-icon img {} */
  /* .footer__logo {} */
  /* .footer__logo img {} */
}
