/* || STYLES */

body {
  text-align: center;
}

@media (min-width: 50rem) {
  body {
    text-align: start;
  }
}

/* || HERO */

.hero-section {
  margin-block: clamp(3rem, calc(0.73rem + 9.66vw), 7.5rem);
}
