:root {
  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-neutral-900: hsl(233, 12%, 13%);
  --clr-neutral-400: hsl(227, 12%, 61%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
}

/* || RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* || GENERAL */

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-400);
  font-size: 1rem;
}

h1,
h2 {
  font-weight: bold;
  color: var(--clr-primary-400);
}

h1 {
  font-size: clamp(2.25rem, calc(1.75rem + 2.15vw), 3.25rem);
}

h2 {
  font-size: clamp(1.75rem, calc(1.5rem + 1.07vw), 2.25rem);
}

a {
  text-decoration: none;
  color: currentColor;
}

/* || UTILITY */

.container {
  --px: 1rem;
  max-width: min(70rem, 100% - var(--px) * 2);
  margin-inline: auto;
}

.bold {
  font-weight: 700;
}

.btn {
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 999px;
  line-height: 12px;
  box-shadow: 0 12px 4px -6px var(--box-shadow);
}

.btn-primary {
  --box-shadow: var(--clr-accent-100);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
}

.btn-secondary {
  --box-shadow: var(--clr-neutral-100);
  color: var(--clr-accent-400);
  background-color: var(--clr-neutral-100);
}

@media (min-width: 50rem) {
  .even-columns {
    display: flex;
  }

  .even-columns > * {
    flex: 1;
  }
}
