:root {
  --clr-primary-400: hsl(228, 39%, 23%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);
  --clr-neutral-900: hsl(233, 12%, 13%);
  --clr-neutral-400: hsl(227, 12%, 61%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
}

/* || RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* || GENERAL */

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-400);
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--clr-primary-400);
  line-height: 1.2;
}

h1 {
  font-size: clamp(2.25rem, calc(1.75rem + 2.15vw), 3.25rem);
}

h2 {
  font-size: clamp(1.75rem, calc(1.5rem + 1.07vw), 2.25rem);
}

a {
  text-decoration: none;
  color: currentColor;
}

@media (min-width: 54rem) {
  body {
    text-align: start;
  }
}

/* || UTILITY */

.container {
  --px: 1rem;
  max-width: min(36rem, 100% - var(--px) * 2);
  margin-inline: auto;
}

.btn {
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 999px;
  line-height: 12px;
  box-shadow: 0px 0.5rem 0.5rem -0.25rem var(--box-shadow);
}

.btn--primary {
  --box-shadow: hsl(12, 88%, 80%);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
}

.btn--secondary {
  --box-shadow: hsl(233, 12%, 60%);
  color: var(--clr-accent-400);
  background-color: var(--clr-neutral-100);
}

.btn--primary:hover {
  opacity: 0.75;
  cursor: pointer;
}

.btn--secondary:hover {
  --box-shadow: hsl(233, 12%, 70%);
  color: hsl(12, 88%, 75%);
}

.grid {
  --gap: 1rem;
  display: grid;
  gap: var(--gap);
}

.flex {
  --gap: 1rem;
  display: flex;
  gap: var(--gap);
}

@media (min-width: 54rem) {
  .container {
    max-width: min(70rem, 100% - var(--px) * 2);
  }
}

/* || NAVBAR */

.header {
  margin-top: clamp(2.5rem, calc(2rem + 2.15vw), 3.5rem);
  position: relative;
}

.header .container {
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: clamp(6.88rem, calc(5.68rem + 5.1vw), 9.25rem);
}

.navbar__menu-btn {
  background: none;
  border: none;
  height: 1.5rem;
  aspect-ratio: 1;
  z-index: 100;
}

.nav {
  background-color: white;
  position: absolute;
  inset-inline: var(--px);
  top: calc(100% + clamp(2.5rem, calc(2rem + 2.15vw), 3.5rem));
  border-radius: 0.25rem;
  display: none;
}

.nav__menu {
  margin: 2.5rem;
  flex-direction: column;
  gap: 1.5rem;
}

.nav__link {
  color: var(--clr-primary-400);
  font-weight: 500;
}

.nav__link:hover {
  color: var(--clr-neutral-400);
}

.navbar__btn {
  display: none;
}

body[data-navOpen="true"] {
  overflow: hidden;
}

body[data-navOpen="true"]::before {
  content: "";
  position: absolute;
  inset-inline: 0;
  height: 100vmax;
  background-image: linear-gradient(transparent, var(--clr-neutral-900));
  opacity: 0.6;
}

body[data-navOpen="true"] .nav {
  display: block;
}

@media (min-width: 54rem) {
  .navbar__menu-btn {
    display: none;
  }

  .nav {
    display: block;
    position: static;
  }

  .nav__menu {
    gap: 2rem;
    flex-direction: row;
    margin: 0;
  }

  .navbar__btn {
    display: block;
  }
}

/* || HERO */

.hero-section {
  margin-top: clamp(3rem, calc(0.73rem + 9.66vw), 7.5rem);
}

.hero-section .container {
  gap: 32px;
}

.hero__heading {
  margin-bottom: clamp(1rem, calc(0.37rem + 2.68vw), 2.25rem);
}

.hero__info {
  margin-bottom: clamp(2rem, calc(1.69rem + 1.34vw), 2.63rem);
}

@media (min-width: 54rem) {
  .hero-section .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__img {
    grid-column: 2;
  }

  .hero__content {
    grid-column: 1;
    grid-row: 1;
  }

  .hero__info {
    max-width: 32ch;
  }
}

/* || ABOUT */

.about-section {
  margin-top: clamp(6.63rem, calc(5.81rem + 3.49vw), 8.25rem);
}

.about-section .container {
  gap: 3.625rem;
}

.about__content {
  --px: 1.25rem;
}

.about__heading {
  margin-bottom: clamp(1.5rem, calc(1.19rem + 1.34vw), 2.13rem);
}

.about__feature-list {
  --gap: 2.625rem;
  flex-direction: column;
}

.about__feature {
  text-align: left;
}

.feature__heading {
  margin-bottom: 1.125rem;
  font-size: clamp(0.88rem, calc(0.81rem + 0.27vw), 1rem);
  background-color: var(--clr-accent-100);
  border-radius: 999px 0 0 999px;
}

.feature__heading > span {
  background-color: var(--clr-accent-400);
  line-height: 2.5;
  padding-inline: 1.5rem;
  margin-right: 16px;
  display: inline-block;
  border-radius: 999px;
  color: var(--clr-neutral-100);
  font-size: 16px;
}

@media (min-width: 54rem) {
  .about-section .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 7.5rem;
  }

  .about__content {
    --px: 0;
  }

  .about__info {
    max-width: 32ch;
  }

  .about__feature-list {
    align-items: flex-end;
  }

  .feature__heading {
    background: transparent;
    position: relative;
  }

  .feature__heading > span {
    position: absolute;
    right: calc(100% + clamp(1rem, calc(0.62rem + 1.61vw), 1.75rem));
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }

  .feature__info {
    max-width: 41.75ch;
  }
}

/* TESTIMONIAL */
/* .testimonial-section { */
/* margin-top: clamp(4.75rem, calc(2.17rem + 11.01vw), 9.88rem); */
/* text-align: center; */
/* } */
/* .testimonial__heading { */
/* margin-bottom: clamp(6.13rem, calc(5.81rem + 1.34vw), 6.75rem); */
/* } */
/* .testimonial__container { */
/* width: 100%; */
/* display: flex; */
/* gap: 2rem; */
/* overflow-x: scroll; */
/* height: calc(100% + 2.25rem); */
/* scroll-snap-type: x mandatory; */
/* scroll-margin: 0; */
/* } */
/* .testimonial { */
/* min-width: fit-content; */
/* scroll-snap-align: center; */
/* background-color: var(--clr-neutral-100); */
/* padding-block: 4rem 3rem; */
/* padding-inline: clamp(2rem, calc(1.5rem + 2.15vw), 3rem); */
/* position: relative; */
/* } */
/* .testimonial__img { */
/* height: 4.5rem; */
/* width: 4.5rem; */
/* position: absolute; */
/* top: -2.25rem; */
/* left: 50%; */
/* transform: translateX(-50%); */
/* z-index: 100; */
/* } */
/* .testimonial__name { */
/* margin-bottom: 2rem; */
/* } */
/* .testimonial__info { */
/* max-width: 44ch; */
/* } */
/* .testimonial__btn { */
/* margin-top: 3rem; */
/* margin-inline: auto; */
/* display: block; */
/* } */
/* CTA */

.cta-section {
  margin-top: clamp(2.63rem, calc(-1.72rem + 18.52vw), 11.25rem);
  padding-block: 4.5rem 4rem;
  background-color: var(--clr-accent-400);
  background-image: url(../images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: center left;
}

.cta-section .container {
  gap: 1.625rem;
}

.cta__heading {
  font-size: clamp(2.25rem, calc(2.12rem + 0.54vw), 2.5rem);
  color: var(--clr-neutral-100);
}

@media (min-width: 54rem) {
  .cta-section {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-size: cover;
  }

  .cta-section .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .cta__btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

/* FOOTER */

main {
  display: none;
}

.footer {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  position: relative;
}

.footer .container {
  padding-top: clamp(3.13rem, calc(2.75rem + 1.61vw), 3.88rem);
  padding-bottom: clamp(3.75rem, calc(7.51rem + -5.37vw), 6.25rem);
  gap: 2.75rem;
}

.footer__form {
  margin-inline: auto;
}

.footer__form form {
  gap: 0.5rem;
}

.footer__form form input[type="email"] {
  padding-inline: 1.25rem;
  font-size: 14px;
  border: none;
  border-radius: 999px;
}

.footer__form form input[type="button"] {
  --box-shadow: hsl(233, 12%, 33%);
}

.footer__copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  bottom: 30px;
  color: var(--clr-neutral-400);
}

.footer__link-container {
  text-align: left;
  justify-content: space-evenly;
}

.footer__link-menu {
  flex-direction: column;
  gap: 0.75rem;
}

.footer__link:hover {
  color: var(--clr-accent-400);
}

.footer__social-container {
  flex-direction: column;
  gap: 3.5rem;
  margin: 0 auto;
}

.footer__icon-container {
  gap: clamp(1.25rem, calc(2.38rem + -1.61vw), 2rem);
}

.footer__icon svg {
  min-width: clamp(1.25rem, calc(2.38rem + -1.61vw), 2rem);
}

.footer__logo img {
  width: 10rem;
  margin: 0 auto;
}

@media (min-width: 54rem) {
  .footer .container {
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 2rem;
  }

  .footer .container > div {
    width: 100%;
  }

  .footer__form {
    grid-column: 3;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer__copy {
    position: static;
    transform: translateX(0);
  }

  .footer__link-container {
    grid-column: 2;
    grid-row: 1;
    justify-content: space-between;
  }

  .footer__social-container {
    grid-column: 1;
    grid-row: 1;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}
