@tailwind base;

@layer base {
  h1,
  h2,
  h3 {
    @apply font-bold text-blue;
  }
  h1 {
    @apply text-[clamp(2.25rem,calc(1.75rem+2.15vw),3.25rem)];
  }
  h2 {
    @apply text-[clamp(1.75rem,calc(1.5rem+1.07vw),2.25rem)];
  }
}

@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-[min(36rem,100%-1rem*2)] lg:max-w-[min(70rem,100%-1rem*2)];
}

.btn {
  @apply rounded-full px-8 py-4 text-xs font-bold leading-3 shadow-md;
}

.swiper-pagination {
  bottom: 36px !important;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: transparent !important;
  border: 1px solid hsl(12 88% 59%) !important;
}

.swiper-pagination-bullet-active {
  background-color: hsl(12 88% 59%) !important;
}

.hero-section,
.about-section {
  position: relative;
}

.hero-section::before,
.about-section::after {
  content: "";
  position: absolute;
  z-index: -1;
  aspect-ratio: 1;
  height: 75%;
  background-image: url(./assets/svg/bg-tablet-pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section::before {
  top: -16rem;
  right: -11rem;
}

.about-section::after {
  height: 40%;
  top: -22rem;
  right: -14rem;
}

@media (min-width: 54rem) {
  .hero-section::before,
  .about-section::after {
    height: 150%;
  }

  .hero-section::before {
    top: -20rem;
    right: -16rem;
  }

  .about-section::after {
    top: auto;
    bottom: -32rem;
    left: -38rem;
  }
}
